.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--size-4);
    height: var(--btn-height);
    border-radius: var(--btn-radius);
    font-weight: var(--fw-medium);
    font-family: var(--ff-secondary);
    box-shadow: var(--btn-shadow-x) var(--btn-shadow-y) var(--btn-shadow-blur) var(--btn-shadow-spread) var(--clr-shadow);
    
    &--primary{
        background-color: var(--clr-primary);
        color: var(--clr-onprimary);
        border: var(--btn-border-size) solid var(--clr-primary-dark);
    }
    
    &--secondary{
        background-color: var(--clr-secondary);
        color: var(--clr-onsecondary);
        border: var(--btn-border-size) solid var(--clr-secondary-dark);
    }
}



