.icon{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;


    &--primary{
        color: var(--clr-primary);
    }

    &--windows:before{
        content: "\e925";
    }

    &--linux:before{
        content: "\e922";
    }
    &--android:before{
        content: "\e920";
    }

    &--ios:before{
        content: "\e921";
    }

    &--macos:before{
        content: "\e923";
    }
    
    &--search:before{
        content: "\e915";
    }

    &--chevron:before{
        content: '\e919';
    }
}